@charset "utf-8";
* { margin: 0px; padding: 0px; border: 0px; list-style-type: none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
body { font: 12px/1.6 Tahoma, microsoft yahei, "微软雅黑", "宋体"; }
#header { text-align: left; height: 49px; min-width: 1000px; background: #f5f5f5; background: -moz-linear-gradient(center top, rgb(235, 235, 235), rgb(245, 245, 245) 100%) repeat scroll 0% 0% transparent; border-bottom: 1px solid #8c8c8c; box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2); z-index: 1000; position: fixed; width: 100%; top: 0px; left: 0px; }
.logo { width: 220px; float: left; height: 49px; padding-left: 12px; position: relative; overflow: hidden; background:#585b60;}
.nav_con { float: left; display: inline; }
.nav { float: left; width: 450px; font-size: 15px; }
.nav li { float: left; width: 90px; border-left: 1px solid #8c8c8c; }
.nav a { width: 90px; display: inline-block; height: 49px; line-height: 49px; font-weight: normal; text-align: center; float: left; text-decoration: none; color: #43484c; }
.nav a:hover { background: #c7c7c7; }
.nav .current { background: #989898; }
.nav .current a:link, .nav .current a:visited { background: -moz-linear-gradient(center top, rgba(199, 199, 199, 0.5), rgba(205, 205, 205, 0.5)) repeat scroll 0% 0% transparent;  color: #fff; }
select, input, label, button, textarea { margin: 0px; padding: 0px; overflow: visible; }
.login { float: right; margin: 15px 0px 0px; width: 330px; text-align: right; }
.i_user, .i_set, .i_quit { float: right; margin: 0px 10px; width: 17px; height: 17px; }
.i_user span, .i_set span, .i_quit span { display: none; }
.i_user { background: url(../images/i_user2.png) 0px -20px; }
.i_user:hover { background: url(../images/i_user2.png) 0px 0px; }
.i_set { background: url(../images/i_set2.png) 0px -20px; }
.i_set:hover { background: url(../images/i_set2.png) 0px 0px; }
.i_quit { background: url(../images/i_quit2.png) 0px -20px; }
.i_quit:hover { background: url(../images/i_quit2.png) 0px 0px; }
.wrapper { min-width: 1000px; background: url("../images/left_grey.png") repeat-y scroll 0px 0px #fff; min-height: 1000px; padding-top: 50px; }
.sidebar { position: absolute; left: 0px; z-index: 0; padding-top: 30px; width: 232px; background-color:#43484c;}
.subnav { padding: 0px 0px 66px 15px; color: #666; }
.subnav h3 { color: #fff; height: 35px; line-height: 40px; font-size: 14px; font-weight: 400; padding-left: 18px; margin-right: 15px; }
.subnav h3 .i_icon1, .subnav h3 .i_icon2, .subnav h3 .i_icon3, .subnav h3 .i_icon4 { float: left; margin-top: 10px; margin-right: 12px; }
.i_icon1, .i_icon2, .i_icon3, .i_icon4 { width: 24px; height: 24px; display: inline-block; background: url("../images/side_nav_bg2.png") no-repeat scroll 0% 0% transparent; }
.i_icon1 { background-position: 0px 0px; }
.i_icon2 { background-position: 0px -30px; }
.i_icon3 { background-position: 0px -60px; }
.i_icon4 { background-position: 0px -90px; }
.subnav ul { margin: 5px 0px; }
.subnav li { font-size: 14px; border-bottom: medium none; margin: 2px 0px; }
.subnav li:hover { border-radius: 3px 0px 0px 3px; box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2); background: #fff; }
.subnav .current { border-radius: 3px 0px 0px 3px; box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2); background: url("../images/subnav_current.png") no-repeat scroll 150px 8px rgb(255, 255, 255); }
.subnav a { padding: 6px 0px 6px 55px; line-height: 20px; width: 140px; display: inline-block; }
.subnav a:link, .subnav a:visited { text-decoration: none; color: #fff; }
.subnav a:hover { color: #666; text-decoration: none; }
.subnav .current a:link, .subnav .current a:visited { color: #666; text-decoration: none; background: url("../images/subnav_current.png") no-repeat scroll 150px 12px #fff; margin-left: 2px; padding-left: 53px; }
.main { margin-left: 232px; background: none repeat scroll 0% 0% #FFF; min-height: 500px; }
.cf { *zoom:1;
}
.main h2 { font-size: 24px; font-weight: 400; color: #456; padding: 11px 18px 17px; }
.more { float: right; text-align: right; font-weight: 500; font-size: 12px; vertical-align: middle; }
.main h2 .more { font-size: 12px; overflow: hidden; font-family: "宋体"; margin-top: 10px; }
.more a { margin-left: 10px; white-space: nowrap; }
.more a:link{color:#3e94e3; text-decoration:none;}
.more a:visited{color:#3e94e3; text-decoration:none;}
.more a:hover{color:#3e94e3; text-decoration:underline;}
.main h2 .more .i_down { margin: 0px 0px 0px 6px; vertical-align: middle; }
.container { min-height: 500px; padding: 0px 18px; }
.toolbar { margin-bottom: 8px; }
.tool_date { margin-bottom: 10px; background: none repeat scroll 0% 0% #f5f5f5; padding: 10px; height: 30px; }
.tool_date .title { font-size: 14px; }
.tool_date .title .more { font-size: 12px; }
.tool_date .title .more a { margin-top: 10px; text-decoration: none; }
.select { float: right; }
.select li { float: left; margin-left: 10px; }
.select li a:link { color: #3e94e3; }
.select li a:hover { color: #3e94e3; }
.select li a:visited { color: #3e94e3; }
.select li.active a:link, .select li.active a:visited { color: #5b5b5b; font-weight: 700; }
.date { border: 1px solid #d8d8d8; border-radius: 3px 3px 3px 3px; background-color: #fefefe; background-image: -moz-linear-gradient(center top, rgb(250, 250, 250), rgb(245, 245, 245)); background-repeat: repeat-x; box-shadow: 0px 1px 1px rgba(218, 218, 218, 0.8); float: left; }
.date .date_title { font-family: Arial; font-size: 20px; color: rgb(102, 102, 102); padding: 4px 10px; border-right: 1px solid rgb(216, 216, 216); vertical-align: middle; cursor: pointer; }
.date .opt_sel { width: 30px; height: 31px; line-height: 31px; display: inline-block; text-align: center; vertical-align: middle; margin-left: -4px; }
.i_orderd { border-top: 4px solid rgb(0, 0, 0); border-right: 4px dashed transparent; border-left: 4px dashed transparent; }
.i_orderu, .i_orderd, .i_orderl, .i_orderr, .i_caret_no { display: inline-block; vertical-align: middle; margin: 0px 3px; overflow: hidden; width: 0px; font-size: 0px; height: 0px; line-height: 0; }
.date .i_orderd { display: inline-block; width: 0px; height: 0px; vertical-align: middle; border-top: 5px solid rgb(114, 114, 114); border-right: 5px dashed transparent; border-left: 5px dashed transparent; font-size: 0px; content: ""; overflow: hidden; }
label.contrast { float: left; margin: 4px 8px 0px; line-height: 20px; color: #666666; cursor: pointer; }
input[type="radio"], input[type="checkbox"] { margin: 5px 3px; cursor: pointer; }
label.contrast .pc { vertical-align: -2px; margin: 2px; }
.toolbar_opt { margin-bottom: 7px; }
.toolbar_opt h3 { font-size: 16px; font-weight: 400; height: 30px; float: left; }
.btn_thin1 .i_opt, .btn_thin1 .i_data, .btn_thin1 .i_open { margin-right: 3px; }
.i_data { width: 16px; height: 16px; display: inline-block; background: url("../images/i_data.png") no-repeat scroll 0px 0px transparent; vertical-align: middle; font-size: 0px; }
.tool_list { float: right; width: 400px; font-size: 12px; text-align: right; }
.btn_thin1 { display: inline-block; padding: 4px 10px; margin-bottom: 0px; font-size: 12px; font-family: "微软雅黑", "宋体"; line-height: 17px; color: rgb(51, 51, 51); text-align: center; text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; cursor: pointer; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(225, 225, 225) rgb(225, 225, 225) rgb(179, 179, 179); border-radius: 2px 2px 2px 2px; background-color: #fefefe; background-image: -moz-linear-gradient(center top, rgb(254, 254, 254), rgb(245, 245, 245)); background-repeat: repeat-x; outline: 0px none; }
.column { font-size: 14px; margin: 0px auto; padding-bottom: 30px; position: relative; }
.column .title { height: 34px; font-size: 16px; font-weight: 400; }
.i_opt { width: 16px; height: 16px; display: inline-block; background: url("../images/i_opt.png") no-repeat scroll 0px 0px transparent; vertical-align: middle; font-size: 0px; }
.i_data:hover, .i_opt:hover { background-position: 0px -16px; }
.column table { width: 100%; font-size: 12px; border-collapse: collapse; border: 1px solid #e1e1e1; }
/*==table==*/
.column table .num { /*width: 40px;*/ }
.column table .url { width: 150px; }
.column table .plate { width: 100px; }
.column table .theme { width: 100px; }
.column table { width: 100%; font-size: 12px; border-collapse: collapse; border: 1px solid #e1e1e1; }
.column table tbody tr { border-bottom: 1px solid #e8e8e8; border-top: 1px solid #e8e8e8; }
.column table tbody td { line-height: 19px; padding: 10px 8px; color: #666; white-space: nowrap; *border-bottom: 1px solid #e8e8e8;
*border-top: 1px solid #e8e8e8;
}
.column table thead th { line-height: 19px; padding: 8px; color: #444; cursor: pointer; border-bottom: 1px solid #e1e1e1; cursor: pointer; text-align: left; -webkit-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 1.0); -moz-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 1.0); box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 1.0); background: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#f3f3f3)); background: -moz-linear-gradient(top, #fafafa, #f3f3f3); background: -ms-linear-gradient(top, #fafafa, #f3f3f3); *background:#f5f5f5;
white-space: nowrap; }
.column table tfoot td { line-height: 19px; padding: 7px 8px; background: #fafafa; border-top: 1px solid #e1e1e1; color: #777777; font-weight: 700; }
.column table .num {/*数字*/ text-align: center; }
.column table thead .hover { background: #eaeaea; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.column table thead .visited { background: #eaeaea; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.column table thead .thead_col th { background: #fff; }
.column .pop_compare { position: absolute; z-index: 1; }/*==表格比较==*/
.column .pop_compare .data { background: #37adf0; color: #fff; font-size: 12px; padding: 6px 4px 4px 2px; display: inline; float: left; height: 24px; z-index: 2; }
.column .pop_compare .box { border: 1px solid #37adf0; float: left; }
.column table table tbody td { text-align: left; }
.column table tbody tr.hover td { border-bottom: 1px solid #d5e5f4; border-top: 1px solid #d5e5f4; background-color: #eaf2fa; cursor: pointer; }
.column table .row { line-height: 26px; max-width: 500px; white-space: normal; }
.column table .row ul { padding: 0px 0 5px 68px; line-height: 23px; }
.column .newup { background: #F5F5F5; }
.column .t_msg { border: 1px solid #f4e4b4; background: #fff4d8; color: #efaa00; text-align: center; cursor: pointer; padding: 5px 0; }
.column .t_msg em { color: #2ab101; font-size: 14px; }
/*二级表格样式==绿色背景==*/
.column_cont { background: #f8fdf5; }
.column_cont .table { color: #616161; border: none; }
.column_cont .table th { border-bottom: 1px solid #e1f4d3; background: #f8fdf5; cursor: pointer; }
.column_cont .table tr { border-bottom: 1px solid #e1f4d3; border-top: 1px solid #e1f4d3; }
.column_cont .table td { line-height: 19px; padding: 10px 8px; color: #666; white-space: nowrap; *border-bottom: 1px solid #e1f4d3;
*border-top: 1px solid #e1f4d3;}
.column_cont h4 { height: 32px; line-height: 32px; font-weight: 400; padding: 0 10px; }
.column_cont h4 em { padding: 0 2px; color: #ff1d25; }
.column_cont h4 span { float: right; margin-right: 10px; color: #8b8b8b; }
.column_cont .time { width: 50px; *width:30px;}
.column_cont .title { width: 120px; *width:100px;}
.column_cont .url { }
.column_cont .other { padding: 5px 0px 5px 15px; overflow: hidden; max-width: 1000px; }
.column_cont .other li { float: left; line-height: 21px; color: #8b8b8b; width: 140px; }
.page { padding: 10px 0px; }
.page .show { float: left; margin-right: 10px; color: #999; font-size: 12px; }
.page .ipt_show { width: 50px; padding: 1px; line-height: 18px; border: 1px solid #c9c9c9; font-size: 12px; font-family: "Tahoma"; vertical-align: middle; }
.page .show .ipt_show { margin-left: 5px; vertical-align: top; }
.pg { border-width: 1px; border-style: solid; border-color: rgb(215, 215, 215) rgb(214, 214, 214); float: left; font-size: 0px; height: 35px; }
.page .pg { float: right; }
.pg a, .pg span, .pg strong { padding: 7px 12px 0px; height: 26px; font-size: 12px; font-family: "Tahoma"; display: inline-block; }
.pg .current { border-left: 1px solid #d6d6d6; border-right: 1px solid #d6d6d6; color: #333; font-weight: 700; border-top: 2px solid #37adf0; margin-top: -1px; padding: 8px 11px 0px; height: 26px; }
.pg a:link, .pg a:visited { color: #686868; text-decoration: none; }
.pg a:hover { background: #fcfcfc; box-shadow: 0px -4px 10px rgba(165, 184, 255, 0.2) inset; border-top: 2px solid #e3e3f0; }
/*==页脚==*/
#footer { padding-bottom: 25px; padding-top: 22px; }
#footer p { text-align: center; line-height: 23px; color: #999999; font-size: 12px; }
#footer a { font-size: 12px; }
#footer a:link { color: #999999; text-decoration: none; }
#footer a:visited { color: #999999; text-decoration: none; }
#footer a:hover { color: #0073aa; text-decoration: underline; }
#footer a:active { color: #999999; }
