
@{
    ViewBag.Title = "受访栏目";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var column_url = "http://60.191.205.94/ColumnPVIndex?startDate=";
    var columnlist_url = "http://60.191.205.94/ColumnPVList?startDate=";
    $(function () {
        var nowDate = new Date();
        var str = getYestoday(nowDate);
        $("#f_date").val(str);
        
        getJosnDataByAPI(column_url + str + "&endDate=" + str, "getcolumndata");
    });

    function getcolumndata(data) {
        if (data != null) {
            createShowingTable(data);
        }
    }

    function createShowingTable(data) {
        //获取后台传过来的jsonData,并进行解析 
        //var dataArray = $.parseJSON(data.jsonData);
        //此处需要让其动态的生成一个table并填充数据
        var dataArray = data;
        var tableStr = "";
        tableStr = tableStr + "<thead><tr id='dataTheadTr'><th>栏目名称</th><th>浏览次数(PV)</th><th>独立访客(UV)</th><th>IP</th><th>人均浏览页数</th><th>平均页面停留时间</th></tr></thead>";
        var len = dataArray.length;
        for (var i = 0; i < len; i++) {
            tableStr = tableStr + "<tr><td><a id='img" + dataArray[i].cid + "' style='cursor:pointer;' onclick=createDetailTable(this.id) > + </a>" + dataArray[i].cname + "</td><td>" + dataArray[i].pvnum + "</td><td>" + dataArray[i].uvnum + "</td><td>" + dataArray[i].ipnum + "</td><td>" + dataArray[i].avgpage + "</td><td>" + dataArray[i].avglength + "</td></tr>";
            tableStr = tableStr + "<tr id='tr" + dataArray[i].cid + "' style='display:none;'><td colspan='6'><table id='dtable" + dataArray[i].cid + "' style='margin-left:20px;width:98%'></table></td></tr>";
        }
        tableStr = tableStr + "";
        //将动态生成的table添加的事先隐藏的div中. 
        $("#dataTable").html(tableStr);
    }

    function createDetailTable(id) {
        var sessionid = id.substring(3);
        $("#selid").val(sessionid);
        $("#tr" + sessionid).toggle();
        if ($("#img" + sessionid).html() == ' - ') {
            $("#img" + sessionid).html(' + ');
        }
        else {
            $("#img" + sessionid).html(' - ');
            getJosnDataByAPI(columnlist_url + $("#f_date").val() + "&enddate=" + $("#f_date").val() + "&fid=" + sessionid, "detail");
        }
    }

    function detail(data) {
        var sessionid = $("#selid").val();
        var dataArray = data;
        var tableStr = "";
        tableStr = tableStr + "<tr><td></td><td>浏览次数(PV)</td><td>独立访客(UV)</td><td>IP</td><td>人均浏览页数</td><td>平均页面停留时间</td></tr>";
        if (dataArray != null) {
            var len = dataArray.length;
            for (var i = 0; i < len; i++) {
                tableStr = tableStr + "<tr><td>" + dataArray[i].cname + "</td><td>" + dataArray[i].pvnum + "</td><td>" + dataArray[i].uvnum + "</td><td>" + dataArray[i].ipnum + "</td><td>" + dataArray[i].avgpage + "</td><td>" + dataArray[i].avglength + "</td></tr>";
            }
            tableStr = tableStr + "";
            $("#dtable" + sessionid).html(tableStr);

        }
        else {
            alert("无下级栏目");
        }
    }

    function showAll() {
        getJosnDataByAPI(column_url + $("#f_date").val() + "&endDate=" + $("#f_date").val(), "getcolumndata");
    }
</script>

<div>
<input type="hidden" id="selid" />
<div class="toolbar cf"> 
          <!--==操作按钮==-->
          <div class="tool_date cf">
            <div class="title cf">
              <div class="more">
              </div>
              <div class="date" id="div_date"><input size="30" id="f_date" /></div>
              <div class="date" id="div_compare_date"><input type="button" id="query" value="确 定" style="width:60px" onclick="showAll(1)"/></div>
            </div>
          </div>
        </div>

    <div>
        <table id="sumdata" class="sumtb"></table>
    </div>
    <div id="table_column" class="column cf" style="clear:both">
        <div class="title">受访栏目（按访问量：包含各栏目下所有内容的访问量）<a href="RespondClickColumn">按点击量查看</a></div>
            <div>
                <table id="dataTable" class="tablesorter"></table>
            </div>
    </div>
</div>
<script type="text/javascript">
    Calendar.setup({
        inputField: "f_date",
        trigger: "f_date",
        date: new Date(),
        selectionType: Calendar.SEL_SINGLE,
        max: getYestoday(new Date())
    });
</script>
