@{
    ViewBag.Title = "访客来源[搜索词]信息统计表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var statsource_url = "http://60.191.205.94/StatSource?sId=" + website_id + "&startDate=";
    var sourcekey_url = "http://60.191.205.94/StatSourceKey?sId=" + website_id + "&startDate=";
    $(function () {
        $("#f_date").val($("#startdate").val());
        getJosnDataByAPI(statsource_url + $("#startdate").val() + "&endDate=" + $("#enddate").val(), "sumcallback");
        getJosnDataByAPI(sourcekey_url + $("#startdate").val() + "&endDate=" + $("#enddate").val(), "sourcecallback");
    });

    function sumcallback(data) {
        var sumdata = {};
        var len = data.length;
        for (var i = 0; i < len; i++) {
            if (data[i].sid == "2")
                sumdata = data[i];
        }
        createSumTable(sumdata);
    }

    function sourcecallback(data) {
        createShowingTable(data);
    }

    function createSumTable(data) {
        //获取后台传过来的jsonData,并进行解析 
        //var dataArray = $.parseJSON(data.jsonData);
        //此处需要让其动态的生成一个table并填充数据
        var dataArray = data;
        var tableStr = "";
        tableStr = tableStr + "<tr><td>来访次数</td><td>独立访客(UV)</td><td>IP</td><td>搜索词数</td><td>站内总浏览次数</td><td>跳出率</td></tr>";

        tableStr = tableStr + "<tr><td>" + dataArray.vnum + "</td><td>" + dataArray.uvnum + "</td><td>" + dataArray.ipnum + "</td><td>" + dataArray.keynum + "</td><td>" + dataArray.pvnum + "</td><td>" + dataArray.jumpnum + "%</td></tr>";

        tableStr = tableStr + "";
        //将动态生成的table添加的事先隐藏的div中. 
        $("#sumdata").html(tableStr);
    }

    function createShowingTable(data) {
        //获取后台传过来的jsonData,并进行解析 
        //var dataArray = $.parseJSON(data.jsonData);
        //此处需要让其动态的生成一个table并填充数据
        var dataArray = data;
        var tableStr = "";
        tableStr = tableStr + "<thead><tr id='dataTheadTr'><th>搜索词</th><th>来访次数</th><th>独立访客(UV)</th><th>IP</th><th>新独立访客</th><th>站内总浏览次数(PV)</th><th>跳出率</th></tr></thead>";
        var len = dataArray.length;
        for (var i = 0; i < len; i++) {
            tableStr = tableStr + "<tr><td>" + dataArray[i].skey + "</td><td>" + dataArray[i].vnum + "</td><td>" + dataArray[i].uvnum + "</td><td>" + dataArray[i].ipnum + "</td><td>" + dataArray[i].newuvnum + "</td><td>" + dataArray[i].pvnum + "</td><td>" + dataArray[i].jumpnum + "%</td</tr>";
        }
        tableStr = tableStr + "";
        //将动态生成的table添加的事先隐藏的div中. 
        $("#dataTable").html(tableStr);
    }

    function showAll(id) {
        getJosnDataByAPI(statsource_url + $("#startdate").val() + "&endDate=" + $("#enddate").val(), "sumcallback");
        getJosnDataByAPI(sourcekey_url + $("#startdate").val() + "&endDate=" + $("#enddate").val(), "sourcecallback");
        var ctime = $("#startdate").val() == $("#enddate").val() ? $("#startdate").val() : $("#startdate").val() + "至" + $("#enddate").val()
        $("#ctime").html(ctime);
    }
</script>

<div>
    <div class="toolbar cf"> 
        <!--==操作按钮==-->
        <div class="tool_date cf">
        <div class="title cf">
            <div class="more">               
            </div>
            <div class="date" id="div_date"><input size="30" id="f_date" /></div>
            <div class="date" id="div_compare_date"><input type="button" id="query" value="确 定" style="width:60px" onclick="showAll(1)"/></div>
        </div>
        </div>
    </div>
    <div>
        <table id="sumdata" class="sumtb"></table>
    </div>
    <div id="table_column" class="column cf" style="clear:both">
          <div class="title">搜索词分类汇总表</div>
          <div>
            <table id="dataTable" class="tablesorter"></table>
          </div>
        </div>
</div>
<script type="text/javascript">//<![CDATA[


    var SELECTED_RANGE = null;
    function getSelectionHandler() {
        var startDate = null;
        var ignoreEvent = false;
        return function (cal) {
            var selectionObject = cal.selection;

            // avoid recursion, since selectRange triggers onSelect
            if (ignoreEvent)
                return;

            var selectedDate = selectionObject.get();
            if (startDate == null) {
                startDate = selectedDate;
                SELECTED_RANGE = null;
                //document.getElementById("info").innerHTML = "Click to select end date";

                // comment out the following two lines and the ones marked (*) in the else branch
                // if you wish to allow selection of an older date (will still select range)
                //cal.args.min = Calendar.intToDate(selectedDate);
                cal.refresh();
                $("#startdate").val(Calendar.printDate(Calendar.intToDate(selectedDate), "%Y-%m-%d"));
                $("#enddate").val(Calendar.printDate(Calendar.intToDate(selectedDate), "%Y-%m-%d"));
            } else {
                ignoreEvent = true;
                selectionObject.selectRange(startDate, selectedDate);
                ignoreEvent = false;
                SELECTED_RANGE = selectionObject.sel[0];

                // alert(SELECTED_RANGE.toSource());
                //
                // here SELECTED_RANGE contains two integer numbers: start date and end date.
                // you can get JS Date objects from them using Calendar.intToDate(number)

                startDate = null;

                // (*)
                cal.args.min = null;
                cal.refresh();
                $("#startdate").val(Calendar.printDate(Calendar.intToDate(SELECTED_RANGE[0]), "%Y-%m-%d"));
                $("#enddate").val(Calendar.printDate(Calendar.intToDate(SELECTED_RANGE[1]), "%Y-%m-%d"));
            }
        };
    };

    Calendar.setup({
        inputField: "f_date",
        trigger: "f_date",
        date: new Date(),
        selectionType: Calendar.SEL_SINGLE,
        onSelect: getSelectionHandler()
    });
    //]]></script>