@{
    ViewBag.Title = "访客来源[域名]统计分析";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var sum_url = "http://60.191.205.94/read?sId=" + website_id + "&startDate=";
    var sourcehost_url = "http://60.191.205.94/StatSourceHost?sId=" + website_id + "&startDate=";
    var sourcehostdetails_url = "http://60.191.205.94/StatSourceByHostPath?startDate=";
    var hostindex_url = "http://60.191.205.94/StatSourceHostIndex?sId=" + website_id + "&startDate="

    $(function () {
        $("#selitem").html($('input[type="radio"][name="rad"]:checked').next("label").text());
        $("#f_date").val($("#startdate").val());
        $("#trigger").powerFloat({
            target: $("#targetBox"),
            width: "150px"
        });

        $("#seltag").click(function () {
            getJosnDataByAPI(sourcehost_url + $("#startdate").val() + "&endDate=" + $("#enddate").val(), "sourcehostcallback");
            getJosnDataByAPI(hostindex_url + $("#startdate").val() + "&endDate=" + $("#enddate").val() + "&type=" + $('input[type="radio"][name="rad"]:checked').val(), "trendcallback");
            $("#selitem").html($('input[type="radio"][name="rad"]:checked').next("label").text());
        });

        getJosnDataByAPI(sum_url + $("#startdate").val() + "&endDate=" + $("#enddate").val(), "sumcallback");
        getJosnDataByAPI(sourcehost_url + $("#startdate").val() + "&endDate=" + $("#enddate").val(), "sourcehostcallback");
        getJosnDataByAPI(hostindex_url + $("#startdate").val() + "&endDate=" + $("#enddate").val() + "&type=" + $('input[type="radio"][name="rad"]:checked').val(), "trendcallback");
    });

    function sumcallback(data) {
        createSumTable(data[0]);
    }

    function sourcehostcallback(data) {
        createShowingTable(data);
        createpiecharts(getpiedata(data, $('input[type="radio"][name="rad"]:checked').val()));
    }

    function trendcallback(data) {
        var xdata = [];
        var n = 5;
        if ($("#startdate").val() == $("#enddate").val()) {
            xdata = ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00',
            '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'];
        }
        else {
            xdata = getAllDate($("#startdate").val(), $("#enddate").val());
            n = 1;
        }
        var ydata = data;

        createcharts(xdata, ydata, n);
        //        var chart = $('#container').highcharts();
        //        for (var i = 0; i < chart.series.length; i++) {
        //            if (i != 0)
        //                chart.series[i].hide();
        //        }
    }

    function createSumTable(data) {
        //获取后台传过来的jsonData,并进行解析 
        //var dataArray = $.parseJSON(data.jsonData);
        //此处需要让其动态的生成一个table并填充数据
        var dataArray = data;
        var tableStr = "";
        tableStr = tableStr + "<tr><th>浏览次数(PV)</th><th>独立访客(UV)</th><th>IP</th><th>新独立访客</th><th>访问次数</th><th>人均浏览页数</th><th>平均访问深度</th><th>平均访问时长</th><th>跳出率</th></tr>";

        tableStr = tableStr + "<tr><td>" + dataArray.PV + "</td><td>" + dataArray.UV + "</td><td>" + dataArray.IP + "</td><td>" + dataArray.NewUV + "</td><td>" + dataArray.Session + "</td><td>" + dataArray.ThePerCapitaBrowsingPages + "</td><td>" + dataArray.AvgDepthCount + "</td><td>" + dataArray.AvgTimeSpent + "秒</td><td>" + dataArray.AvgOut + "%</td></tr>";

        tableStr = tableStr + "";
        //将动态生成的table添加的事先隐藏的div中. 
        $("#sumdata").html(tableStr);
    }

    function createShowingTable(data) {
        //获取后台传过来的jsonData,并进行解析 
        //var dataArray = $.parseJSON(data.jsonData);
        //此处需要让其动态的生成一个table并填充数据
        var dataArray = data;
        var tableStr = "";
        tableStr += "<thead><tr id='dataTheadTr'><th>来路域名</th><th>来访次数</th><th>独立访客(UV)</th><th>IP</th><th>新独立访客</th><th>站内总浏览次数(PV)</th><th>跳出率</th></tr></thead>";
        var len = dataArray.length;
        for (var i = 0; i < len; i++) {
            tableStr = tableStr + "<tr><td><a name='" + dataArray[i].path + "' id='img" + dataArray[i].path.replace(/\./g, '') + "' style='cursor:pointer;' onclick=createDetailTable(this) > + </a><a target='_blank' href='" + dataArray[i].path + "'>" + dataArray[i].path.substr(0, 40) + "</a></td><td>" + dataArray[i].count + "</td><td>" + dataArray[i].uvnum + "</td><td>" + dataArray[i].ipnum + "</td><td>" + dataArray[i].newuvnum + "</td><td>" + dataArray[i].pvnum + "</td><td>" + dataArray[i].jumpnum + "%</td></tr>";
            tableStr = tableStr + "<tr id='tr" + dataArray[i].path.replace(/\./g, '') + "' style='display:none;'><td colspan='7' width='100%'><table id=tb" + dataArray[i].path.replace(/\./g, '') + " style='background-color:#cccccc'></table></tr>";
        }
        tableStr = tableStr + "";
        //将动态生成的table添加的事先隐藏的div中. 
        $("#dataTable").html(tableStr);
    }

    function createDetailTable(a) {
        var sid = a.id;
        var sname = a.name;
        $("#selid").val(sid.substr(3));
        var sessionid = $("#selid").val();
        $("#tr" + sessionid).toggle();
        if ($("#img" + sessionid).html() == ' - ')
            $("#img" + sessionid).html(' + ');
        else
            $("#img" + sessionid).html(' - ');
        getJosnDataByAPI(sourcehostdetails_url + $("#startdate").val() + "&endDate=" + $("#enddate").val() + "&sPath=" + sname, "detail");
    }

    function detail(data) {
        var sessionid = $("#selid").val();
        var dataArray = data;
        var tableStr = "";
        tableStr += "<tr><td colspan='7'>来路页面TOP10</td></tr>";
        tableStr += "<tr><td>来路域名</td><td>来访次数</td><td>独立访客(UV)</td><td>IP</td><td>新独立访客</td><td>站内总浏览次数(PV)</td><td>跳出率</td></tr>"
        if (dataArray != null) {
            var len = dataArray.length > 10 ? 10 : dataArray.length;
            for (var i = 0; i < len; i++) {
                tableStr += "<tr><td>&nbsp;&nbsp;<a target='_blank' href='" + dataArray[i].path + "'>" + dataArray[i].path.substr(0, 40) + "</a></td><td>" + dataArray[i].count + "</td><td>" + dataArray[i].uvnum + "</td><td>" + dataArray[i].ipnum + "</td><td>" + dataArray[i].newuvnum + "</td><td>" + dataArray[i].pvnum + "</td><td>" + dataArray[i].jumpnum + "%</td></tr>";
            }
            tableStr += "";
            $("#tb" + sessionid).html(tableStr);
        }
        else {
            alert("找不到明细");
        }
    }

    function createpiecharts(data) {
        $('#piechart').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '来路域名分类趋饼图'
            },
            tooltip: {
                pointFormat: '{series.URL}: <b>{point.y}</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: $('input[type="radio"][name="rad"]:checked').next("label").text(),
                data: data
            }]
        });
    }

    function getpiedata(data, type) {
        var piedata = [];
        var othernum = 0;
        var inum = 0;
        var n = 0;
        $.each(bubbleSort(data), function (i, items) {
            var temp = [];
            temp.push(items.path);
            temp.push(parseFloat(getshowitem(items, type)));
            if (n > 4) {
                inum += parseFloat(getshowitem(items, type));
            }
            else {
                if (getshowitem(items, type) > 0) {
                    piedata.push(temp);
                    n += 1;
                }
            }
        });
        var last = [];
        last.push("其他");
        last.push(inum);
        piedata.push(last);
        return piedata;
    }


    function getshowitem(data, type) {
        var item = data;
        switch (type) {
            case "pv":
                return typeof (item.pvnum) == 'undefined' ? 0 : item.pvnum;
                break;
            case "count":
                return typeof (item.count) == 'undefined' ? 0 : item.count;
                break;
            default:
                return typeof (item.pvnum) == 'undefined' ? 0 : item.pvnum;
                break;
        }
    }

    function createcharts(xdata, ydata, n) {
        $('#container').highcharts({
            title: {
                text: '来路域名分类趋势图',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
                categories: xdata,
                title: {
                    text: '时间（小时）'
                },
                gridLineWidth: 1,
                labels: { step: n }
            },
            yAxis: {
                title: {
                    align: 'high',
                    offset: 0,
                    text: '访问量',
                    rotation: 0,
                    y: -10
                },
                min: 0,
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                    this.x + ':' + this.y;
                }
            },
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom',
                borderWidth: 1
            },
            series: ydata
        });
    }

    function showAll(id) {
        getJosnDataByAPI(sum_url + $("#startdate").val() + "&endDate=" + $("#enddate").val(), "sumcallback");
        getJosnDataByAPI(sourcehost_url + $("#startdate").val() + "&endDate=" + $("#enddate").val(), "sourcehostcallback");
        getJosnDataByAPI(hostindex_url + $("#startdate").val() + "&endDate=" + $("#enddate").val() + "&type=" + $('input[type="radio"][name="rad"]:checked').val(), "trendcallback");
        var ctime = $("#startdate").val() == $("#enddate").val() ? $("#startdate").val() : $("#startdate").val() + "至" + $("#enddate").val()
        $("#ctime").html(ctime);
    }
</script>

<input type="hidden" id="selid" />
<div>
    <div class="toolbar cf"> 
        <!--==操作按钮==-->
        <div class="tool_date cf">
        <div class="title cf">
            <div class="more">               
            </div>
            <div class="date" id="div_date"><input size="30" id="f_date" /></div>
            <div class="date" id="div_compare_date"><input type="button" id="query" value="确 定" style="width:60px" onclick="showAll(1)"/></div>
        </div>
        </div>
    </div>
     <div>
        <table id="sumdata" class="sumtb"></table>
     </div>
    <div style="min-width: 100%; height: 100%;margin:0 auto;">
            <div><button id="trigger" class="btn_thin1"><i class="i_opt"></i>设置指标</button>(当前选择：<span id="selitem"></span>)</div>
            <div id="piechart" style="min-width: 400px;width: 40%; height: 340px; margin: 0 auto; float:left"></div>
            <div id="container" style="min-width: 400px;width: 59.9%; height: 340px; margin: 0 auto; float:left"></div>
    </div>
    <div id="table_column" class="column cf" style="clear:both">
        <div class="title">来路域名汇总表</div>
            <div>
                <table id="dataTable" class="tablesorter"></table>
            </div>
    </div>
</div>
<div style="position: absolute;background: #ffffe6;border: 1px solid #aaa; display:none; padding-left:1px" id="targetBox">
      <ul style="list-style:none; margin:0; padding:0;">
        <li><input id="radcount" name="rad" type="radio" value="count" checked="checked" /><label for="radcount">来访次数</label></li>
        <li><input id="radpv" name="rad" type="radio" value="pv" /><label for="radpv">站内总浏览次数</label></li>
      </ul>
      <p><input id="seltag" type="button" value="确定"/><a href="#" onclick="$('#targetBox').hide();">取消</a></p>
</div>
<script type="text/javascript">//<![CDATA[
    var SELECTED_RANGE = null;
    function getSelectionHandler() {
        var startDate = null;
        var ignoreEvent = false;
        return function (cal) {
            var selectionObject = cal.selection;

            // avoid recursion, since selectRange triggers onSelect
            if (ignoreEvent)
                return;

            var selectedDate = selectionObject.get();
            if (startDate == null) {
                startDate = selectedDate;
                SELECTED_RANGE = null;
                //document.getElementById("info").innerHTML = "Click to select end date";

                // comment out the following two lines and the ones marked (*) in the else branch
                // if you wish to allow selection of an older date (will still select range)
                //cal.args.min = Calendar.intToDate(selectedDate);
                cal.refresh();
                $("#startdate").val(Calendar.printDate(Calendar.intToDate(selectedDate), "%Y-%m-%d"));
                $("#enddate").val(Calendar.printDate(Calendar.intToDate(selectedDate), "%Y-%m-%d"));
            } else {
                ignoreEvent = true;
                selectionObject.selectRange(startDate, selectedDate);
                ignoreEvent = false;
                SELECTED_RANGE = selectionObject.sel[0];

                // alert(SELECTED_RANGE.toSource());
                //
                // here SELECTED_RANGE contains two integer numbers: start date and end date.
                // you can get JS Date objects from them using Calendar.intToDate(number)

                startDate = null;

                // (*)
                cal.args.min = null;
                cal.refresh();
                $("#startdate").val(Calendar.printDate(Calendar.intToDate(SELECTED_RANGE[0]), "%Y-%m-%d"));
                $("#enddate").val(Calendar.printDate(Calendar.intToDate(SELECTED_RANGE[1]), "%Y-%m-%d"));
            }
        };
    };

    Calendar.setup({
        inputField: "f_date",
        trigger: "f_date",
        date: new Date(),
        selectionType: Calendar.SEL_SINGLE,
        onSelect: getSelectionHandler()
    });
    //]]></script>
